<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Inventory Management : "{{inventory_id}}"</h1>

<!-- Search Form -->
<form method="POST" action="{{ url_for('v1/inventory_search', inventory_id=inventory_id) }}">
    <input type="text" name="search_query" placeholder="Search for items..." required>
    <button type="submit">Search</button>
</form>

<!-- Search Results -->
{% if search_results %}
    <h2>Search Results</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Rarity</th>
                <th>Properties</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in search_results %}
            <tr>
                <td>{{ item.item_id }}</td>
                <td>{{ item.item_name }}</td>
                <td>{{ item.item_rarity }}</td>
                <td>{{ item.item_proporties }}</td>
                <td>
                    <form method="POST" action="{{ url_for('v1/inventory_add_item', item_name=item.item_name, inventory_id=inventory_id, item_id=item.item_id) }}">
                        <button type="submit">Add to Inventory</button>
                    </form>
                </td>
                
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<!-- Inventory Table -->
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Rarity</th>
            <th>Properties</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in inventory_items %}
        <tr>
            <td>{{ item.item_id }}</td>
            <td>{{ item.item_name }}</td>
            <td>
                <form method="POST" action="{{ url_for('v1/inventory_update', item_name=item.item_name, inventory_id=inventory_id, item_id=item.item_id, quantity=item.item_quantity) }}">
                    <input type="number" name="newItemQuantity" placeholder={{ item.item_quantity }}>
                    <button type="submit">Update</button>
                </form>
            </td>
            <td>{{ item.item_rarity }}</td>
            <td>{{ item.item_properties }}</td>
            <td>
                <div style="display: flex; gap: 8px;">
                    <form method="POST" action="{{ url_for('v1/inventory_delete', item_name=item.item_name, inventory_id=inventory_id, item_id=item.item_id) }}">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
